<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD85c1lDEpZPYNXiQ89hztWmkTjXYkyFU0</string>
	<key>GCM_SENDER_ID</key>
	<string>921186863628</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tuskflow.app</string>
	<key>PROJECT_ID</key>
	<string>tuskstudy</string>
	<key>STORAGE_BUCKET</key>
	<string>tuskstudy.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:921186863628:ios:68615722f4b66d3dee3c29</string>
</dict>
</plist>